@import url("https://fonts.googleapis.com/css2?family=Pathway+Extreme:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Pathway Extreme";
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  user-select: none;
}

body {
  background-color: black;
}

body * {
  color: white;
}

#menu {
  background-color: rgb(17, 17, 17);
  height: 100px;
  display: flex;
  align-items: center;
}

.menulogo {
  margin: 0 10px;
  color: rgb(255, 255, 255);
}

.menuitems {
  display: flex;
}

.menuitems a {
  margin: 10px;
}

.menuitems a:hover {
  border-bottom: 0.5px solid white;
}

::-webkit-scrollbar {
  background-color: gray;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  width: 50px;
}

@media (max-width: 800px) {
  #menu {
    display: block;
  }
  .menuitems {
    overflow: auto;
    white-space: nowrap;
  }
  .menulogo {
    text-align: center;
  }
}
